---
layout: archive
title: "Papers"
permalink: /papers/
author_profile: true
---

{% assign papers_by_category = site.papers | group_by_exp: "post", "post.categories[0]" %}

{% for category in papers_by_category %}
  {% if category.name %}
    <h2>{{ category.name }}</h2>
    <hr />
  {% endif %}

  {% for post in category.items reversed %}
    <div class="archive__item">
      
      <h2 class="archive__item-title">{{ post.title }}</h2>

      {% if post.excerpt %}
        <p class="archive__item-excerpt">
          {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
        </p>
      {% endif %}

      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="btn btn--primary">Download paper</a>
      {% endif %}

      {% if post.repository %}
        <a href="{{ post.repository }}">GitHub Repository</a>
      {% endif %}

      {% if post.slidesurl %}
        <a href="{{ post.slidesurl }}">Slides</a>
      {% endif %}

    </div>
  {% endfor %}
{% endfor %}
